
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div id="background" style="background-color:aliceblue;margin-left:20%;margin-top:5%;width:500px;height:500px">
        <h1 style="margin-left:5%"> Bài Tập Lớn Môn Lập Trình Web</h1>
        <h2 style="margin-left:15%">Đề tài : Quản Lý Thư Viện</h2>
        <h2 style="margin-left:25%">Lớp CNTT4-K58</h2>
        <h3> Giảng viên : Nguyễn Thị Kim Sao</h3>

        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="3" style="text-align:center"> <h3>Thành Viên Trong Nhóm</h3></th>
            </tr>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã Sinh Viên
                </th>
                <th>
                    Tên
                </th>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <th>
                    Mã Sinh Viên
                </th>
                <th>
                    Đỗ Tiến Nam
                </th>
            </tr>
            <tr>
                <th>
                    2
                </th>
                <th>
                    Mã Sinh Viên
                </th>
                <th>
                    Đinh Trọng Hiệp
                </th>
            </tr>
            <tr>
                <th>
                    3
                </th>
                <th>
                    171201330
                </th>
                <th>
                    Trần Hùng Tới
                </th>
            </tr>

        </table>
    </div>   

